* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
  background-color: burlywood;
}

.container {
  height: 100vh;
  padding: 5%;
  overflow: hidden;
}
